<h1 class="page-header">Weather</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    List of Station
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-12">
        <form role="form">        
          <label>Select your Station</label>                               
          <div class="form-group">
              <label class="checkbox-inline" ng-repeat="station in stations">
                <input type="checkbox" ng-model="station.is_selected" ng-click="call_weather(station)">{{ station.name }}</label>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12">
        <div class=" alert alert-warning loading" style="display:none;">loading...</div>
      </div>
      <%= render 'home/weather_data' %>
    </div>
  </div>
