<h1 class="page-header">Weather</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    List of Station
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">
        <form role="form">                                       
          <div class="form-group">
            <label>Select your Station</label>
            <div class="form-group">
              <label class="checkbox-inline">
                <input type="checkbox">1
              </label>
              <label class="checkbox-inline">
                <input type="checkbox">2
              </label>
              <label class="checkbox-inline">
                <input type="checkbox">3
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
